extends ../../layouts/default.pug  


block main
    .container.my-3 
        .row 
            .com-12 
                h1(class = "mb-4") #{product.title}
                
                if(product.price)
                    h1(class = "mb-4") Giá: <b>#{product.price}$</b>

                if(product.discountPercentage)
                    h1(class = "mb-4") Discount Percentage: <b>#{product.discountPercentage}</b>

                if(product.stock)
                    h1(class = "mb-4") Còn lại: <b>#{product.stock}</b>


                if(product.thumbnail)
                    h1(class = "mb-4")
                        img(
                            src = product.thumbnail
                            style = "width: 100px"
                        )
 
                
                if(product.position)
                    h1(class = "mb-4") Vị trí: <b>#{product.position}</b>
                
                if(product.description)
                    div(class = "mb-4") Mô tả: <b>#{product.description}</b>

                //- a(class ="btn btn-warning" href =`${prefixAdmin}/products/edit/${product.id}`) Chỉnh sửa