mixin table-tree(records , level = 1)
    each item , index in records
        - const prefix = Array(level + 1).join("-- ")
        tr
            td #{item.index}
            td 
                img(
                    src = item.thumbnail
                    alt = "Sản phẩm 1"
                    width = "100px"
                    height = "auto"
                )
            td #{prefix} #{item.title}
            td 
                input(
                    type="number"
                    value = item.position 
                    style ="width: 60px"
                    min ="1"
                    name = "position"
                )
            td 
                if(item.status == "active")
                    a(
                        href="javascript:;"
                        data-id = item.id
                        data-status = item.status
                        button-change-status
                        class = "badge badge-success" 
                    ) Hoạt động
                else
                    a(
                        href="javascript:;"
                        data-id = item.id
                        data-status = item.status
                        button-change-status 
                        class = "badge badge-danger"
                    ) Dừng hoạt động

                
            td
                a(
                    class="btn btn-secondary btn-sm"
                    href = `${prefixAdmin}/products-category/detail/${item.id}`
                ) Chi tiết
                a( 
                    class="btn btn-warning btn-sm"
                    href = `${prefixAdmin}/products-category/edit/${item.id}`
                ) Sửa
                button(
                    class="btn btn-danger btn-sm ml-1"
                    data-id = item.id
                    button-delete
                ) Xóa
        if item.children && item.children.length > 0
            +table-tree(item.children, level + 1)