mixin sub-menu(items, path)
    ul
        each item in items
            li
                - let pathProduct = `${path}/${item.slug}`
                p #{pathProduct}
                a(href=pathProduct) #{item.title}
                if item.children && item.children.length > 0
                    +sub-menu(item.children, path)
