extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug


block main
    +alert-success(3000)
    +alert-error(3000)

    .container.my-3 
        .row 
            .col-12 
                +box-head("Giỏ hàng")
        .row 
            .col-12
                table(class = "table table-bordered")
                    thead
                        tr
                            th STT
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng
                            th Tổng tiền 
                            th Hành động
                    tbody
                        if(cartDetail.products.length > 0)
                            each item,index in cartDetail.products
                                tr 
                                    td #{index + 1}
                                    td 
                                        img(src = item.product.thumbnail, alt = "", width = "80px")
                                    td 
                                        a(href=`/products/detail/${item.product.slug}`) #{item.product.title}

                                    td #{item.product.priceNew}$
                                    td
                                        input(
                                            type = "number"
                                            name = "quantity"
                                            value = item.quantity
                                            min = "1"
                                            max = "100"
                                            product-id = item.products_id
                                            style = "width: 60px"
                                        )
                                    td #{item.totalPrice}$
                                    td 
                                        a(
                                            href =`/cart/delete/${item.products_id}`
                                            class = "btn btn-danger"
                                        ) Xóa

                        else 
                            h4 Không có sản phẩm nào trong giỏ hàng



                h3(class = "text-right") Tổng thanh toán: #{cartDetail.totalCart}$

                div(class = "text-right mt-3")
                    a(
                        href ="/cart/checkout"
                        class = "btn btn-success"
                    ) Thanh toán

    script(src = "/js/cart.js")

